[Dd]ebug/
[Rr]elease/
bin
obj
*.nuget
*.user
*.suo
*.trx
*.pdb
*.sln.cache
*.csproj.user
*resharper.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
Thumbs.db
UscParser/UscParser.Publish.xml
UscParser/TestResult.xml
TestResults
packages
UscParser/App_Data/nlog.log
robocopy.log
Publish/
Properties/
.vs/
Build/*.log